.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

.main-page {
  &__upper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 36px 0 240px 0;
    background: #00000099;

  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

button {
  cursor: pointer;
  border: unset;
  background-color: transparent;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #FFFFFF;
  }

  &__right {
    display: flex;
    gap: 38px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__elem {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    transition: color 0.15s ease-in;

    &:hover {
      color: #9ca1a1;
    }
  }

  &-icons {
    display: flex;
    align-items: center;
    gap: 16px;
  }


  &__button {
    border: solid 1px #d09c1d;
    padding: 10px 18px;
    text-transform: uppercase;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 500;
  }
}


.hero {
  &-inner {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-family: 'Manjari';
    margin-top: 58px;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;

  }

  &__button {
    margin-top: 32px;
  }
}

.custom-button {
  //font-family: 'Manjari';
  line-height: 32px;
  padding: 16px 32px;
  outline: none;
  border: unset;
  font-size: 20px;
  color: #010101;
  text-transform: uppercase;
  border-radius: 92px;
  font-weight: 500;
  background: linear-gradient(262.71deg, #FFCE58 0%, #D09C1D 103.17%);
  //transition: all 0.3s ease;
  transition: transform 0.3s ease;

  &:hover {
    animation: glow 2s infinite; /* Подключаем анимацию */
    transform: scale(1.02);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 206, 88, 0.6),
    0 0 10px rgba(208, 156, 29, 0.8);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 206, 88, 0.8),
    0 0 30px rgba(208, 156, 29, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 206, 88, 0.6),
    0 0 10px rgba(208, 156, 29, 0.8);
  }
}

.info {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 24.25%, rgba(0, 0, 0, 0.82) 53.58%);
  }

  &--left {
    &::before {
      background: linear-gradient(105.05deg, rgba(0, 0, 0, 0.82) 36.78%, rgba(0, 0, 0, 0) 64.23%);
    }

    .info {
      &-inner {
        flex-direction: row;
      }
    }
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
    z-index: 10;
    padding: 190px 0;
  }

  &__bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-left {
    max-width: 444px;
  }


  &__title {
    font-family: 'Manjari';
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;

  }

  &__subtitle {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

  }

  &__list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__price {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #E8C300;
  }
}

.about {
  background-color: #FFFFFF;

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 86px 0 20px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-family: 'Manjari';
    color: #18191F;
    font-size: 48px;
    font-weight: 700;
    text-align: center;

  }

  &__subtitle {
    margin-top: 24px;
    color: #18191F;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  &__button {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }

  &__image {
    margin-top: 70px;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

    }
  }
}


.button-info {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 14px;
  border-radius: 92px;
  border: solid 1px #E8C300;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
}


.icon-border {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23242e;
  border-radius: 50%;
}

.faq {
  background-color: #FFFFFF;
  padding: 64px 0;
  display: flex;
  gap: 40px;

  &__title {
    font-family: 'Manjari';
    color: #18191F;
    font-size: 48px;
    font-weight: 700;
  }

  &__list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-elem {
    display: flex;
    align-items: center;
    gap: 40px;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      height: 72px;
      background-color: #F4F5F7;
      border-radius: 50%;
    }

    &__title {
      font-family: 'Manjari';
      color: #18191F;
      font-size: 24px;
      font-weight: 600;
    }

    &__subtitle {
      margin-top: 10px;
      color: #18191F;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  }

  &__button {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
}

.footer {
  padding: 62px 0;
  background-color: #0B0D17;

  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-menu {
    &__list {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }

    &__elem {
      color: #D9DBE1;
    }
  }

  &-reach-us {
    &__list {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__elem {
      display: flex;
      align-items: flex-start;
      gap: 8px;
    }

    &__icon {
      margin-top: 0px;
    }
  }

  &-social {
    &__list {
      margin-top: 24px;
      display: flex;
      gap: 16px;
    }

    &__elem {
      display: flex;
    }
  }

  &__title {
    font-family: 'Manjari';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

  }
}